.App {
  text-align: center;
}
.person {
  color: #61dafb;
  background-color: rgb(26, 24, 24);
  padding: 20px;
  border-radius: 30px;
  border: 5px solid red;
  margin: 20px;
}
.info {
  color: #61dafb;
  background-color: rgb(41, 40, 40);
  padding: 20px;
  border-radius: 30px;
  border: 5px solid red;
  margin: 20px;
}
.myFamily {
  border: 5px solid black;
  background-color: #61dafb;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  color: red;
}
